// bootstrap variables edited
$btn-font-size-sm: 12px;
$btn-border-radius: 0.2875rem;

$btn-border-width: 0;

$font-family-base: 'Open Sans';

// aplications variables
$yellowLight: #FFC000;
$yellowDark: #BF9000;

$redLight: #E61857;
$redDark: #AD1241;

$red-light-900: #ad1141;
$red-dark-900: #730D2C;

$bege-light: #bf9005;
$bege-dark: #7e6003;

$ocean-light: #17BABF;
$ocean-dark: #118B8F;

$ocean-light-900: #118B8F;
$ocean-dark-900: #0C5D60;

$green-light-100: #34C15C;
$green-dark-100: #279145;


$caramelLight: #B49065;
$caramelDark: #8E6D45;

$darkCaramelLight: #BF9000;
$darkCaramelDark: #7F6000;

$esmeraldLight: #118B8F;
$esmeraldDark: #0C5D60;

$caramel-light: #B49065;
$caramel-dark: #8E6D45;

$dark-caramel-light: #BF9000;
$dark-caramel-dark: #7F6000;

$esmerald-light: #118B8F;
$esmerald-dark: #0C5D60;

$green-light: #279145;
$green-dark: #1A602E;

$blue-light: #41719C;
$blue-dark: #315575;

$blue-marine-light: #315575;
$blue-marine-dark: #20394E;

$viz-dark: #646464;
$viz-dark-light: #424242;

$viz-gray: #646464;
$viz-gray-light: #8c8c8c;

$orange-light: #F5781B;
$orange-dark: #C35809;

$orange-light-900: #C35809;
$orange-dark-900: #823B06;

$brow-light: #726253;
$brow-dark: #66584a;

$brow-light-900: #876d4e;
$brow-dark-900: #716453;

$blue-light-100: #46B6FE;
$blue-dark-100: #0194F2;


$grid-gutter-width: 10px;
$font-family-base: inherit;
