$yellowLight: #FFC000;
$yellowDark: #BF9000;

$redLight: #E61857;
$redDark: #AD1241;

$caramelLight: #B49065;
$caramelDark: #8E6D45;

$darkCaramelLight: #BF9000;
$darkCaramelDark: #7F6000;

$esmeraldLight: #118B8F;
$esmeraldDark: #0C5D60;

$greenLight: #279145;
$greenDark: #1A602E;

$blueLight: #41719C;
$blueDark: #315575;

$blueMarineLight: #315575;
$blueMarineDark: #20394E;
