input[type="search"] {
  color: #fff;
  background: rgba(41, 42, 51, 0);
  font-weight: 300;
  width: 100%;
  font-size: 60px;
  text-align: center;
  border: 0;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}


.result-search {
  position: absolute;
  left: -15px;
  top: 10px;
  padding-left: 7px;
  overflow-y: scroll;
  direction: rtl;

  ul {
    padding-left: 0;

    li {
      color: white;
      list-style: none;
      margin-bottom: 2px;
    }
  }
}
