<div class="row">

  <div class="col-12">

    <app-distribution-by-hour></app-distribution-by-hour>

  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>{{'TENTATIVAS' | translate}}</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="attempts-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <div class="header">
        <h2>
          <strong>ATENDIDAS</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="answered-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>CPC</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="cpc-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>CPCA</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="cpca-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>{{'NEGOCIAÇÕES' | translate}}</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="deals-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>{{ 'IMPRODUCTIVE' | translate }}</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="improductive-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>incorreto</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="incorrect-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-3 col-lg-4 col-md-6">
    <div class="card">
      <div class="header">
        <h2>
          <strong>tma</strong> {{ 'POR HORA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div id="tma-by-hour" style="width: 100%; min-height: 400px;"></div>
      </div>
    </div>
  </div>

</div>
