/* left aside nav */
@media screen and (max-width: 767px) {
  body.ls-closed {
    .body_scroll {
      transition: linear .2s;
      margin-left: 50px;

      .ls-toggle-btn {
        display: none;
      }
    }
  }
}
