[role="tablist"] {
  .nav-item {
    margin-right: 6px;
  }
}


.tab-btns {

  .btn-sm {
    background: #888;
    color: white;
  }

  .btn-blue {

    &.active {
      background-color: $blue-light;

      &:hover {
        background-color: $blue-dark;
      }
    }
  }


  .btn-ocean, .btn-cpc {

    &.active {
      background-color: $ocean-light !important;

      &:hover {
        background-color: $ocean-dark !important;
      }
    }
  }

  .btn-black-dark {

    &.active {
      background-color: $viz-dark;
      color: white;

      &:hover {
        background-color: $viz-dark-light;
      }
    }
  }


  .btn-dark {

    &.active {
      background-color: $blue-dark;

      &:hover {
        background-color: $blue-dark;
      }
    }
  }

  .btn-orange {

    &.active {
      background-color: $orange-light;

      &:hover {
        background-color: $orange-dark;
      }
    }
  }

  .btn-orange-900 {

    &.active {
      background-color: $orange-dark-900;

      &:hover {
        background-color: $orange-dark-900;
      }
    }
  }

}

.theme-dark {
  .tab-btns {

    .btn-sm:not(.active) {
      background: #3e3e3e;
    }

    .btn-black-dark {
      color: #8c8c8c;
    }


  }
}
