@import "src/assets/scss/variables";

//tr { display: block; float: left; }
//th, td { display: block; }

th.bg-viz-gray,
td:not([data-oddeven='even']).bg-viz-gray {
  background-color: $viz-gray-light !important;
}

td:not([data-oddeven='odd']).bg-viz-gray {
  background-color: $viz-gray !important;
}

th.bg-viz-red,
td:not([data-oddeven='even']).bg-viz-red {
  background-color: $redLight !important;
}

td:not([data-oddeven='odd']).bg-viz-red {
  background-color: $redDark !important;
}

th.bg-viz-red-dark,
td:not([data-oddeven='even']).bg-viz-red-dark {
  background-color: $redDark !important;
}

td:not([data-oddeven='odd']).bg-viz-red-dark {
  background-color: $red-dark-900 !important;
}

th.bg-caramel,
td:not([data-oddeven='even']).bg-caramel {
  background-color: $caramelLight !important;
}

td:not([data-oddeven='odd']).bg-caramel {
  background-color: $caramelDark !important;
}

th.bg-caramel-dark,
td:not([data-oddeven='even']).bg-caramel-dark {
  background-color: $darkCaramelLight !important;
}

td:not([data-oddeven='odd']).bg-caramel-dark {
  background-color: $darkCaramelDark !important;
}

th.bg-ocean-light,
td:not([data-oddeven='even']).bg-ocean-light {
  background-color: $ocean-light !important;
}

td:not([data-oddeven='odd']).bg-ocean-light {
  background-color: $ocean-dark !important;
}

th.bg-esmerald-dark,
td:not([data-oddeven='even']).bg-esmerald-dark {
  background-color: $esmeraldLight !important;
}

td:not([data-oddeven='odd']).bg-esmerald-dark {
  background-color: $esmeraldDark !important;
}

th.bg-green-light,
td:not([data-oddeven='even']).bg-green-light {
  background-color: $green-light-100 !important;
}

td:not([data-oddeven='odd']).bg-green-light {
  background-color: $green-dark-100 !important;
}

th.bg-green-dark,
td:not([data-oddeven='even']).bg-green-dark {
  background-color: $green-light !important;
}

td:not([data-oddeven='odd']).bg-green-dark {
  background-color: $green-dark !important;
}

th.bg-blue-light,
td:not([data-oddeven='even']).bg-blue-light {
  background-color: $blue-light !important;
}

td:not([data-oddeven='odd']).bg-blue-light {
  background-color: $blue-dark !important;
}

th.bg-blue-marine,
td:not([data-oddeven='even']).bg-blue-marine {
  background-color: $blue-marine-light !important;
}

td:not([data-oddeven='odd']).bg-blue-marine {
  background-color: $blue-marine-dark !important;
}

th.bg-orange,
td:not([data-oddeven='even']).bg-orange {
  background-color: $orange-light !important;
}

td:not([data-oddeven='odd']).bg-orange {
  background-color: $orange-dark !important;
}

th.bg-orange-dark,
td:not([data-oddeven='even']).bg-orange-dark {
  background-color: $orange-light-900 !important;
}

td:not([data-oddeven='odd']).bg-orange-dark {
  background-color: $orange-dark-900 !important;
}
