.tab-btn-primary {

  .nav-tabs {
    a {
      font-size: 12px !important;
      border-radius: 0.2875rem !important;
      padding: 5px 12px !important;
      border: none !important;

      &.active {

      }
    }
  }
}
