/* Text */
.text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-total {
  color: #313131;
}
.theme-dark {
  .text-total, {
    color: white;
  }

  .text-dark {
    color: #777 !important;
  }
}

//font
h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
}


.body {
  font-family: 'Open Sans', sans-serif;
}

h6 {
  font-size: 12px;
}

