<div class="row">

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'TENTATIVAS' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-attempts"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'TX MÓVEL' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-mobile"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'CPC' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-cpc"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'Acordos' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-deals"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'hit rate' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-hit-rate"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'não encontrado' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-not-found"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'improdutivo' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-improductive"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'LOGADOS' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="line-mini" id="mini-logged"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card class=range">
      <div class="header">
        <h2>
          <strong>
            {{ 'faixa' | translate }}
          </strong>
          {{'de atraso' | translate }}
        </h2>
      </div>
      <div class="body">
        <div class="range" id="delay-range"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'faixa' | translate }}
          </strong>
            {{'ETÁRIA' | translate }}
        </h2>
      </div>
      <div class="body">
        <div class="range" id="age-range"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'estado' | translate }}
          </strong>
            {{'civil' | translate }}
        </h2>
      </div>
      <div class="body">
        <div class="range" id="civil-status"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="header">
        <h2>
          <strong>
            {{ 'gênero' | translate }}
          </strong>
        </h2>
      </div>
      <div class="body">
        <div class="range" id="genre"></div>
      </div>
    </div>
  </div>

</div>
