<div>

  <div class="card">

    <div class="header">
      <ul class="nav nav-pills tab-btns">

        <li class="nav-item">
          <a href="#company-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark active">
            {{ "Empresa" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#hour-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Hora" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#month-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Mês" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#daily-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Diário" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#hour-by-hour-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Hora" | translate }} a {{ 'hora' }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#portfolio-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Carteira" | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a href="#step-pill"
             data-toggle="pill"
             class="btn btn-sm btn-black-dark">
            {{ "Degrau" | translate }}
          </a>
        </li>

      </ul>
    </div>

    <div class="">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane show active" id="company-pill">
          <app-comparative-by-company></app-comparative-by-company>
        </div>
        <div class="tab-pane" id="hour-pill">
          Hora
        </div>
        <div class="tab-pane" id="month-pill">
          Mês
        </div>
        <div class="tab-pane" id="daily-pill">
          Diário
        </div>
        <div class="tab-pane" id="hour-by-hour-pill">
          Hora a hora
        </div>
        <div class="tab-pane" id="portfolio-pill">
          Carteira
        </div>
        <div class="tab-pane" id="step-pill">
          Degrau
        </div>
      </div>
    </div>

  </div>


</div>
