<div class="card m-b-0">
  <div class="header" style="padding-top: 12px;">
    <button class="btn btn-sm btn-deep-deals mr-1">{{ "Empresa" | translate }}</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Hora" | translate }}</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Mês" | translate }}</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Diário" | translate }}</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Hora" | translate }} a hora</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Carteira" | translate }}</button>
    <button class="btn btn-sm btn-default mr-1">{{ "Degrau" | translate }}</button>
  </div>

  <app-comparative-by-company></app-comparative-by-company>

</div> <!-- card -->
