<div class="navbar-right d-none d-md-block">
  <ul class="navbar-nav">
    <li>
      <a title="Search" href="#search"
         (click)="toggleSearch()"
         class="main_search">
        <i class="material-icons">
          search
        </i>
      </a>
    </li> <!-- li -->
    <li class="dropdown">
      <a title="Change language"
         data-toggle="dropdown"
         href="javascript:void(0);"
         role="button"
         class="dropdown-toggle">
        <i class="material-icons">
          translate
        </i>
      </a>
      <ul class="dropdown-menu slideUp2">
        <li class="header">{{'Idioma' | translate}}</li>
        <li class="body">
          <ul class="list-unstyled menu">
            <li>
              <a href="javascript:void(0);"
                 (click)="changeLang('en')">
                <div class="flag-icon us"></div>
                <div class="menu-info">
                  <h4>{{'Inglês' | translate}}</h4>
                </div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);"
                 (click)="changeLang('pt-br')">
                <div class="flag-icon pt-br"></div>
                <div class="menu-info">
                  <h4>{{ 'Português' | translate}}</h4>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a (click)="toggleNightMode()" title="Change theme" href="javascript: void(0)" rel="change-theme-color">
        <i class="material-icons">
          settings_brightness
        </i>
      </a>
    </li>
    <li>
      <a title="Change RTL" href="javascript: void(0)"
         (click)="toggleRtl()">
        <i class="material-icons">
          format_align_right
        </i>
      </a>
    </li>
    <li>
      <a title="Logout" href="javascript: void(0)" (click)="logout()">
        <i class="material-icons">
          power_settings_new
        </i>
      </a>
    </li>
  </ul>
</div>
