<div class="row">
  <div class="col-12">
    <table class="table table-borderless" style="min-width: 341px;">
      <tbody>
      <tr>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase" colspan="6">
          <small>{{ ('Contracts') }}</small>
        </td>
        <td class="bg-deep-funnel funnel-corner funnel-corner-contracts" style="width: 45px;"></td>
      </tr>
      <tr>
        <td class="bg-deep-agents text-right h3 py-1 px-2 text-white text-uppercase funnel-corner funnel-corner-number-contracts" colspan="6">
          {{ 'sei la' }}</td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase funnel-corner funnel-corner-attempts" colspan="6">
          <small>{{ ('Attempts') }}</small>
        </td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td class="h6 p-1 text-right" style="vertical-align: bottom; width: 45px;">
          <div style="line-height: 1.2;">
            {{ ('Funnel') }}:
            <br/>
            {{ 'sei la' }}%
          </div>
        </td>
        <td class="bg-deep-attempts text-right h3 py-1 px-2 text-white text-uppercase funnel-corner funnel-corner-number-attempts" colspan="5">
          {{ 'sei la' }}
        </td>
        <td class="bg-deep-funnel h6 p-1" style="vertical-align: bottom">
          <div style="line-height: 1.2;">
            {{ ('Base') }}:
            <br/>
            {{ 'sei la' }}%
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase funnel-corner funnel-corner-answered" colspan="5">
          <small>{{ ('Answered') }}</small>
        </td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td></td>
        <td class="h6 py-0 px-1 text-right" style="vertical-align: bottom; width: 45px;">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
        <td class="bg-deep-answered text-right h3 py-1 px-2 text-white text-uppercase funnel-corner funnel-corner-number-answered" colspan="4">
          {{ 'sei la' }}
        </td>
        <td class="bg-deep-funnel h6 p-1" style="vertical-align: bottom">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase funnel-corner funnel-corner-cpc" colspan="4">
          <small>{{ ('CPC') }}</small>
        </td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td class="py-0 px-1 h2" colspan="2" rowspan="5" style="vertical-align: bottom;">
          <!--
          <b>{{ (new 'sei la')) }}</b><br/>
          <b>{{ (getMonth) }}</b><br/>
          <b>{{ (new 'sei la')) }}</b>-->
        </td>
        <td class="h6 py-0 px-1 text-right" style="vertical-align: bottom; width: 45px;">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
        <td class="bg-deep-cpc text-right h3 py-1 px-2 text-white text-uppercase funnel-corner funnel-corner-number-cpc" colspan="3">
          {{ 'sei la' }}
        </td>
        <td class="bg-deep-funnel h6 p-1" style="vertical-align: bottom">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase text-truncate funnel-corner funnel-corner-deals" colspan="3" style="max-width: 10px;">
          <small>{{ ('Deals') }}</small>
        </td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td></td>
        <td class="h6 py-0 px-1 text-right" style="vertical-align: bottom;width: 45px;">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
        <td class="bg-deep-deals text-right h3 py-1 px-2 text-white text-uppercase funnel-corner funnel-corner-number-deals" colspan="2">
          {{ 'sei la' }}
        </td>
        <td class="bg-deep-funnel h6 p-1" style="vertical-align: bottom">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="bg-deep-funnel text-right h5 pb-0 pt-1 text-uppercase text-truncate funnel-corner funnel-corner-payments" colspan="2" style="max-width: 10px;">
          <small>{{ ('Payments') }}</small>
        </td>
        <td class="bg-deep-funnel"></td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="h6 py-0 px-1 text-right" style="vertical-align: bottom; width: 45px;">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
        <td class="bg-deep-alert text-right h3 py-1 px-2 text-uppercase funnel-corner funnel-corner-number-payments">
          {{ 'sei la' }}
        </td>
        <td class="bg-deep-funnel h6 p-1" style="vertical-align: bottom">
          <div style="line-height: 1.2;">
            {{ 'sei la' }}%
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
