<div class="authentication">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-12">
        <form class="card auth_form" [formGroup]="form" (submit)="submitForm()">
          <div class="header">
            <img class="logo" src="/assets/images/logo.svg" alt="">
            <h5>{{ 'Cadastrar nova senha' | translate }}</h5>
          </div>
          <div *ngIf="invalidToken">
            <div class="alert alert-danger">
              {{ 'Token expirado ou inválido' | translate }}
            </div>
          </div>
          <div class="body">
            <div class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Senha"
                       formControlName="password">
                <div class="input-group-append">
                <span class="input-group-text">
                  <i class="material-icons">vpn_key</i>
                </span>
                </div>
              </div>
              <!-- erros -->
              <div class="text-danger" *ngIf="password.invalid && (password.touched || password.dirty)">
                <span class="d-block" *ngIf="password.errors.min">
                  {{ 'Senha inválido' | translate }}
                </span>
                <span class="d-block" *ngIf="password.errors.required">
                  {{ 'Senha é obrigatório' | translate }}
                </span>
              </div> <!-- end erros -->
            </div>

            <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control"
                       formControlName="confirmPassword"
                       [placeholder]="'Confirmar senha' | translate">
                <div class="input-group-append">
                <span class="input-group-text">
                    <i class="material-icons">vpn_key</i>
                </span>
                </div>
              </div>
              <!-- erros -->
              <div class="text-danger" *ngIf="password.value && (confirmPassword.touched || confirmPassword.dirty)">
                <span class="d-block" *ngIf="confirmPassword.value != password.value">
                  {{ 'As senha não coincidem' | translate }}
                </span>
              </div> <!-- end erros -->
            </div>

            <button class="btn btn-primary btn-block waves-effect waves-light"
                    [disabled]="httpLoading">
              <span *ngIf="!httpLoading">
                {{ 'Cadastrar nova senha' | translate }}
              </span>

              <span *ngIf="httpLoading">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              </span>

            </button>
          </div>
        </form>

        <div class="copyright text-center mt-5">
          © 2020
          <span>Designed by <a href="https://deepcenter.com.br/" target="_blank">DeepCenter</a></span>
        </div>

      </div>

      <div class="col-lg-8 col-sm-12 d-flex justify-content-center">
        <img src="/assets/img/login/signin.svg?1591366337" style="height: 100%;" alt="Sign In">
      </div>

    </div>
  </div>
</div>
