<div class="row clearfix">
  <div class="col-lg-12">
    <div class="card">
      <div class="chat_list">
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">search</i>
                        </span>
          </div>
          <input type="text" class="form-control" placeholder="Filtro" required>
        </div>
        <ul class="user_list list-unstyled mb-0 mt-3">
          <div *ngFor="let user of users" (click)="setActiveChat(user.id)">
            <li [ngClass]="isUserActive(user.id)">
              <a href="javascript:void(0);">
                <div class="about">
                  <div class="name">{{ user.name }} </div>
                  <div class="status"><i class="material-icons">stop_circle</i> Online</div>
                </div>
              </a>
            </li>
          </div>

        </ul>
      </div>
      <div class="chat_window body">
        <div class="chat-header">
          <div class="user">
            <div class="chat-about">
              <div class="chat-with">Welcome to our chat</div>
            </div>
          </div>
        </div>
        <hr>
        <ul class="chat-history">
          <li class="clearfix" *ngFor="let message of messages">
            <div>
              <div class="message" [ngClass]="getMessageClass(message)">
                {{ message.message }}
              </div>
            </div>
          </li>
        </ul>
        <div class="chat-box">
          <div class="input-group">
            <button class="input-group-prepend" (click)="send()">
                <span class="input-group-text">
                    <i class="material-icons">send</i>
                </span>
            </button>
            <input type="text" class="form-control"
                   (keydown)="send($event)"
                   placeholder="Type your message here"
                   [(ngModel)]="messageToSend">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
