<div>

  <div class="card">
    <div class="header">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="btn btn-sm btn-default"
            href="#pills-cpc"
            data-toggle="pill">
            CPC
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-sm btn-default"
            href="#pills-negociacoes"
            data-toggle="pill">
            {{ 'Negociações' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-sm btn-default"
            href="#pills-improdutivo"
            data-toggle="pill">
            {{ 'Improdutivo' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-sm btn-default"
            href="#pills-linha-muda"
            data-toggle="pill">
            {{ 'Linha muda' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-sm btn-default"
            href="#pills-negociacoes"
            data-toggle="pill">
            {{ 'Voz de máquina' | translate }}
          </a>
        </li>
      </ul>
    </div>
    <div class="body">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane show active" id="pills-cpc">
          <div id="details-cpc" style="min-height: 400px"></div>
        </div>
        <div class="tab-pane" id="pills-negociacoes">
          Negociacoes
        </div>
        <div class="tab-pane" id="pills-improdutivo">
          Improdutivo
        </div>
        <div class="tab-pane" id="pills-linha-muda">
          Linha muda
        </div>
        <div class="tab-pane" id="pills-profile">
          Voz de máquina
        </div>
      </div>
    </div>
  </div>
</div>
