.search-card-dashboard {
  min-width: 137px !important;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.carousel-md {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-skeleton {
  width: 80px;
  height: 12px;
  background: rgba(255, 255, 255, .1);
  margin: 0 auto;
  margin-top: 3px;
}

.icon-fa {
  font-size: 36px;
  color: rgba(255,255,255,.1)
}



