<!-- if >= lg -->
<owl-carousel-o [options]="dashboardsCarouselLg" *ngIf="checkCarousel('sm')">

  <ng-template carouselSlide [ngIf]="hasPermission('Best time')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">access_alarm</i></div>
        <div class="content text-truncate">{{ 'Best time' | translate }}...</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Comparative')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">compare</i></div>
        <div class="content text-truncate"> {{ 'Comparativo' | translate}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Diário')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">today</i></div>
        <div class="content text-truncate"> {{ 'Diário' | translate }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Região')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">location_on</i></div>
        <div class="content text-truncate"> {{ 'Região' | translate }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Funil')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">filter_list</i></div>
        <div class="content text-truncate"> {{ 'Funil' | translate }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Carteira')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">account_balance_wallet</i></div>
        <div class="content text-truncate"> {{'Portfolio' | translate}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Agents')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">headset_mic</i></div>
        <div class="content text-truncate"> {{ 'Agentes' | translate }}</div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="hasPermission('Multi channel')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon"><i class="material-icons md-36">device_hub</i></div>
        <div class="content text-truncate"> {{ 'Multi canais'| translate }}</div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide [ngIf]="! hasPermission('Best time')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Comparative')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>

        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Diário')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Região')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Funil')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Carteira')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>

        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Agents')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>

        </div>
      </div>
    </div>
  </ng-template>

  <ng-template carouselSlide [ngIf]="! hasPermission('Multi channel')">
    <div class="card search-card-dashboard">
      <div class="body text-center">
        <div class="icon">
          <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>

        </div>
      </div>
    </div>
  </ng-template>


</owl-carousel-o>

<!-- if >= lg -->

<div *ngIf="checkCarousel('md')" class="carousel-md">

  <div class="card search-card-dashboard" *ngIf="hasPermission('Funil')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">filter_list</i></div>
      <div class="content text-truncate"> {{ 'Funil' | translate }}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Carteira')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">account_balance_wallet</i></div>
      <div class="content text-truncate"> {{'Carteira' | translate}}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Agents')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">headset_mic</i></div>
      <div class="content text-truncate"> {{ 'Agentes' | translate }}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Multi channel')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">device_hub</i></div>
      <div class="content text-truncate"> {{ 'Multi canais'| translate }}</div>
    </div>
  </div>

</div>

<div *ngIf="checkCarousel('md')" class="carousel-md">

  <div class="card search-card-dashboard" *ngIf="hasPermission('Best time')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">access_alarm</i></div>
      <div class="content text-truncate">{{ 'Best time' | translate }}...</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Comparative')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">compare</i></div>
      <div class="content text-truncate"> {{ 'Comparativo' | translate}}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Diário')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">today</i></div>
      <div class="content text-truncate"> {{ 'Diário' | translate }}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Região')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>
      <div class="col-12 content text-truncate"> {{ 'Região' | translate }}</div>
    </div>
  </div>
  <div class="card search-card-dashboard" *ngIf="! hasPermission('Best time')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>
  <div class="card search-card-dashboard" *ngIf="! hasPermission('Comparative')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>
  <div class="card search-card-dashboard" *ngIf="! hasPermission('Diário')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>
  <div class="card search-card-dashboard" *ngIf="! hasPermission('Região')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

</div>


<div *ngIf="checkCarousel('xl')" class="carousel-md">

  <div class="card search-card-dashboard" *ngIf="hasPermission('Funil')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">filter_list</i></div>
      <div class="content text-truncate"> {{ 'Funil' | translate }}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Carteira')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">account_balance_wallet</i></div>
      <div class="content text-truncate"> {{'Carteira' | translate}}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Agents')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">headset_mic</i></div>
      <div class="content text-truncate"> {{ 'Agentes' | translate }}</div>
    </div>
  </div>


  <div class="card search-card-dashboard" *ngIf="hasPermission('Multi channel')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">device_hub</i></div>
      <div class="content text-truncate"> {{ 'Multi canais'| translate }}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Best time')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">access_alarm</i></div>
      <div class="content text-truncate">{{ 'Best time' | translate }}...</div>
    </div>
  </div>


  <div class="card search-card-dashboard" *ngIf="hasPermission('Comparative')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">compare</i></div>
      <div class="content text-truncate"> {{ 'Comparativo' | translate}}</div>
    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="hasPermission('Diário')">
    <div class="body text-center">
      <div class="icon"><i class="material-icons md-36">today</i></div>
      <div class="content text-truncate"> {{ 'Diário' | translate }}</div>
    </div>
  </div>

  <!--  <div class="card search-card-dashboard" *ngIf="hasPermission('Região')">-->
  <!--    <div class="body text-center">-->
  <!--      <div class="icon">-->
  <!--        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>-->
  <!--      </div>-->
  <!--      <div class="col-12 content text-truncate"> {{ 'Região' | translate }}</div>-->
  <!--    </div>-->
  <!--  </div>-->


  <div class="card search-card-dashboard" *ngIf="! hasPermission('Carteira')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Diário')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Comparative')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Best time')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Região')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Multi Channel')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Funil')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>

  <div class="card search-card-dashboard" *ngIf="! hasPermission('Agents')">
    <div class="body text-center">
      <div class="icon">
        <fa-icon [icon]="faUserLock" class="icon-fa"></fa-icon>
      </div>

    </div>
  </div>
</div>
