<div class="authentication">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-12">
        <form class="card auth_form" [formGroup]="loginForm" (submit)="submitLoginForm()">
          <div class="header">
            <img class="logo" src="/assets/images/logo.svg" alt="">
            <h5>{{ 'Fazer login' | translate }}</h5>
          </div>
          <div *ngIf="invalidLogin">
            <div class="alert alert-danger">
              {{ 'Usuário ou senha incorreto' | translate }}
            </div>
          </div>
          <div class="body">
            <div class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="E-mail"
                       formControlName="email" autocomplete="email">
                <div class="input-group-append">
                <span class="input-group-text">
                  <i class="material-icons">alternate_email</i>
                </span>
                </div>
              </div>
              <!-- erros -->
              <div class="text-danger"
                   *ngIf="getField('loginForm', 'email').invalid && (getField('loginForm', 'email').touched || getField('loginForm', 'email').dirty)">
                <span class="d-block" *ngIf="getField('loginForm', 'email').errors.email">
                  {{ 'E-mail inválido' | translate }}
                </span>
                <span class="d-block" *ngIf="getField('loginForm', 'email').errors.required">
                  {{ 'E-mail é obrigatório' | translate }}
                </span>
              </div> <!-- end erros -->
            </div>

            <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control"
                       formControlName="password"
                       autocomplete="password"
                       [placeholder]="'Senha' | translate">
                <div class="input-group-append">
                <span class="input-group-text">
                    <i class="material-icons">vpn_key</i>
                </span>
                </div>
              </div>
              <!-- erros -->
              <div
                *ngIf="getField('loginForm', 'password').invalid && (getField('loginForm', 'password').touched || getField('loginForm', 'password').dirty)"
                class="text-danger">
                <span class="d-block" *ngIf="getField('loginForm', 'password').errors.minlength">
                  {{ 'A senha deve ter no mínimo 6 caracteres' | translate }}
                </span>
                <span class="d-block" *ngIf="getField('loginForm', 'password').errors.maxlength">
                  {{ 'A senha deve ter no máximo 14 caracteres' | translate }}
                </span>
                <span class="d-block" *ngIf="getField('loginForm', 'password').errors.required">
                  {{ 'O campo senha é obrigatório' | translate }}
                </span>
              </div> <!-- end erros -->
            </div>

            <span class="d-block">
                <a class="mt-3"
                   (click)="copyMail()"
                   data-toggle="modal" data-target="#modalRecoveryPassword">
                  {{ 'Esqueceu a senha?' | translate }}
                </a>
            </span>
            <button class="btn btn-primary btn-block waves-effect waves-light"
                    [disabled]="loginLoading">
              <span *ngIf="!loginLoading">
                {{ 'Fazer login' | translate }}
              </span>

              <span *ngIf="loginLoading">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              </span>

            </button>
          </div>
        </form>

        <div class="copyright text-center mt-5">
          © 2020
          <span>Designed by <a href="https://deepcenter.com.br/" target="_blank">DeepCenter</a></span>
        </div>

      </div>

      <div class="col-lg-8 col-sm-12 d-flex justify-content-center">
        <img src="/assets/img/login/signin.svg?1591366337" style="height: 100%;" alt="Sign In">
      </div>

    </div>
  </div>
</div>

<!-- modal send token -->
<div class="modal fade" id="modalRecoveryPassword">
  <div class="modal-dialog">
    <form [formGroup]="recoveryPassForm" (submit)="sendRecoveryForm()"
      class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recuperar senha</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="r-email">E-mail</label>
          <input formControlName="email"
                 id="r-email" type="text" placeholder="E-mail" class="form-control">
        </div>
        <!-- erros -->
        <div
          *ngIf="getField('recoveryPassForm', 'email').invalid && (getField('recoveryPassForm', 'email').touched || getField('recoveryPassForm', 'email').dirty)"
          class="text-danger">
              <span class="d-block" *ngIf="getField('recoveryPassForm', 'email').errors.email">
                {{ 'E-mail inválido' | translate }}
              </span>
        </div> <!-- end erros -->
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary"
                [disabled]="recoveryPassForm.invalid || recoveryPassFormLoading">
          <span *ngIf="!recoveryPassFormLoading">
            {{ 'Enviar' | translate }}
          </span>

          <span *ngIf="recoveryPassFormLoading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div> <!-- modal send token -->
