<div class="row">

  <!-- cards indicadores -->
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-ring-volume widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'Tentativas' | translate}} </h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            100<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">5.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-attempts progress-bar" style="width: 100%;"></div>
        </div>
        <div class="progress-bar-right"> 1.000.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-sync-problem widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ "Não discou" | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            9<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-alert progress-bar" style="width: 9%;"></div>
        </div>
        <div class="progress-bar-right"> 99.999</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-contact-phone widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{'Atendidas' | translate}} </h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            80<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-answered progress-bar" style="width: 80%;"></div>
        </div>
        <div class="progress-bar-right"> 800.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-person-pin-circle widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'CPC' | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            60<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-cpc progress-bar" style="width: 60%;"></div>
        </div>
        <div class="progress-bar-right"> 600.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-how-to-reg widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'CPCA' | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            43<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-cpca progress-bar" style="width: 43%;"></div>
        </div>
        <div class="progress-bar-right"> 430.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-thumb-up widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative">{{ 'Negociações' | translate }}</h6>
        <h2 class="fs-26 mb-1 position-relative d-flex justify-content-start">
          <span>
            22<span class="fs-16">%</span>
          </span>
          <div class="indicator-right ml-1">
            <i class="fs-13 material-icons text-deep-cpca">trending_up</i>
            <span class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4"> / 17 Mai</span>
          </div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-deals progress-bar" style="width: 22%;"></div>
        </div>
        <div class="progress-bar-right"> 220.000</div>
      </div>
    </div>
  </div>
  <!-- end cards indicadores -->

  <!-- first tables -->
  <div class="col-12">
    <app-comparative-table></app-comparative-table>
  </div> <!-- end first tables -->

  <!-- quadrate de evolução -->
  <div class="col-12">
    <div class="card m-b-0">
      <div class="header">
        <h2>
          <strong>{{ 'quadrante' | translate}}</strong> {{'de evolução' | translate}}</h2>
      </div>
      <div class="body">
        <div id="data-evolution" style="min-height: 300px;"></div>
      </div>
    </div>
  </div> <!-- col-12 -->

  <div class="col-12">
    <app-resume-by-company></app-resume-by-company>
  </div>

</div> <!-- row -->
