<div class="row">

  <!-- cards indicadores -->
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-ring-volume widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'Tentativas' | translate}} </h6>
        <h2 class="fs-26 mb-1 position-relative"> 100<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-attempts progress-bar" style="width: 100%;"></div>
        </div>
        <div class="progress-bar-right"> 1.000.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-sync-problem widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ "Não discou" | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative"> 9<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-alert progress-bar" style="width: 9%;"></div>
        </div>
        <div class="progress-bar-right"> 99.999</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-contact-phone widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{'Atendidas' | translate}} </h6>
        <h2 class="fs-26 mb-1 position-relative"> 80<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-answered progress-bar" style="width: 80%;"></div>
        </div>
        <div class="progress-bar-right"> 800.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-person-pin-circle widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'CPC' | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative"> 60<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-cpc progress-bar" style="width: 60%;"></div>
        </div>
        <div class="progress-bar-right"> 600.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-how-to-reg widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative"> {{ 'CPCA' | translate }} </h6>
        <h2 class="fs-26 mb-1 position-relative"> 43<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-cpca progress-bar" style="width: 43%;"></div>
        </div>
        <div class="progress-bar-right"> 430.000</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 col-xl-2">
    <div class="big_icon card mb-2 mi-thumb-up widget_2">
      <div class="body"><h6 class="fw-400 m-b-0 position-relative">{{ 'Negociações' | translate }}</h6>
        <h2 class="fs-26 mb-1 position-relative"> 22<span class="fs-16">%</span>
          <div class="indicator-right"><i class="fs-13 material-icons text-deep-cpca">trending_up</i> <span
            class="text-deep-cpca">15.5%</span> <span class="d-block text-deep-gray-4">/ 17 Mai</span></div>
        </h2>
        <div class="progress">
          <div role="progressbar" class="bg-deep-deals progress-bar" style="width: 22%;"></div>
        </div>
        <div class="progress-bar-right"> 220.000</div>
      </div>
    </div>
  </div>
  <!-- end cards indicadores -->

  <!-- first tables -->
  <div class="col-sm-12">
    <div class="card m-b-0">
      <div class="header" style="padding-top: 12px;">
        <button class="btn btn-sm btn-deep-deals mr-1">{{ "Empresa" | translate }}</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Hora" | translate }}</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Mês" | translate }}</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Diário" | translate }}</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Hora" | translate }} a hora</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Carteira" | translate }}</button>
        <button class="btn btn-sm btn-default mr-1">{{ "Degrau" | translate }}</button>
      </div>
      <div class="body">

        <div class="table-responsive">
          <table rel="company"
                 class="table table-sm table-striped table-stripped-comparative table-">

            <thead>
            <tr>

              <th data-field="Indicator" data-title="Indicator" data-sortable="true">
                {{ 'Indicator' | translate }}
              </th>
              <th data-field="Contratos" data-sortable="true">
                {{ 'Contratos' | translate }}
              </th>
              <th data-field="Agnt logados" data-sortable="true">
                {{ 'Agnt logados' | translate }}
              </th>
              <th data-field="Tentativas" data-sortable="true">
                {{ 'Tentativas' | translate }}
              </th>
              <th data-field="Tent/ Agnt" data-sortable="true">
                {{ 'Tent/ Agnt' | translate }}
              </th>
              <th data-field="%Hit rate" data-sortable="true">
                {{ '%Hit rate' | translate }}
              </th>
              <th data-field="Atendidas" data-sortable="true">
                {{ 'Atendidas' | translate }}
              </th>
              <th data-field="CPC" data-sortable="true">
                {{ 'CPC' | translate }}
              </th>
              <th data-field="CPC/ Agnt" data-sortable="true">
                {{ 'CPC/ Agnt' | translate }}
              </th>
              <th data-field="%CPC/ Atend" data-sortable="true">
                {{ '%CPC/ Atend' | translate }}
              </th>
              <th data-field="CPCA" data-sortable="true">
                {{ 'CPCA' | translate }}
              </th>
              <th data-field="CPCA /Agnt" data-sortable="true">
                {{ 'CPCA /Agnt' | translate }}
              </th>
              <th data-field="%CPCA/ Atend" data-sortable="true">
                {{ '%CPCA/ Atend' | translate }}
              </th>
              <th data-field="Negociações" data-sortable="true">
                {{ 'Negociações' | translate }}
              </th>
              <th data-field="Negc/ Agnt" data-sortable="true">
                {{ 'Negc/ Agnt' | translate }}
              </th>
              <th data-field="%Negc/ Tent" data-sortable="true">
                {{ '%Negc/ Tent' | translate }}
              </th>
              <th data-field="%Negc/ Atend" data-sortable="true">
                {{ '%Negc/ Atend' | translate }}
              </th>
              <th data-field="%Negc/ CPC" data-sortable="true">
                {{ '%Negc/ CPC' | translate }}
              </th>
              <th data-field="%Negc/ CPCA" data-sortable="true">
                {{ '%Negc/ CPCA' | translate }}
              </th>
              <th data-field="%Improd" data-sortable="true">
                {{ '%Improd' | translate }}
              </th>
              <th data-field="%Linha muda" data-sortable="true">
                {{ '%Linha muda' | translate }}
              </th>
              <th data-field="%Voz de máquina" data-sortable="true">
                {{ '%Voz de máquina' | translate }}
              </th>
              <th data-field="Spin rate" data-sortable="true">
                {{ 'Spin rate' | translate }}
              </th>
              <th data-field="%Incorreto" data-sortable="true">
                {{ '%Incorreto' | translate }}
              </th>

            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of company">

              <td data-field="Indicator" rel="Indicator">
                {{item['Indicator']}}
              </td>
              <td data-field="Contratos" rel="Contratos">
                {{item['Contratos']}}
              </td>
              <td data-field="Agnt logados" rel="Agnt logados">
                {{item['Agnt logados']}}
              </td>
              <td data-field="Tentativas" rel="Tentativas">
                {{item['Tentativas']}}
              </td>
              <td data-field="Tent/ Agnt" rel="Tent/ Agnt">
                {{item['Tent/ Agnt']}}
              </td>
              <td data-field="%Hit rate" rel="%Hit rate">
                {{item['%Hit rate']}}
              </td>
              <td data-field="Atendidas" rel="Atendidas">
                {{item['Atendidas']}}
              </td>
              <td data-field="CPC" rel="CPC">
                {{item['CPC']}}
              </td>
              <td data-field="CPC/ Agnt" rel="CPC/ Agnt">
                {{item['CPC/ Agnt']}}
              </td>
              <td data-field="%CPC/ Atend" rel="%CPC/ Atend">
                {{item['%CPC/ Atend']}}
              </td>
              <td data-field="CPCA" rel="CPCA">
                {{item['CPCA']}}
              </td>
              <td data-field="CPCA /Agnt" rel="CPCA /Agnt">
                {{item['CPCA /Agnt']}}
              </td>
              <td data-field="%CPCA/ Atend" rel="%CPCA/ Atend">
                {{item['%CPCA/ Atend']}}
              </td>
              <td data-field="Negociações" rel="Negociações">
                {{item['Negociações']}}
              </td>
              <td data-field="Negc/ Agnt" rel="Negc/ Agnt">
                {{item['Negc/ Agnt']}}
              </td>
              <td data-field="%Negc/ Tent" rel="%Negc/ Tent">
                {{item['%Negc/ Tent']}}
              </td>
              <td data-field="%Negc/ Atend" rel="%Negc/ Atend">
                {{item['%Negc/ Atend']}}
              </td>
              <td data-field="%Negc/ CPC" rel="%Negc/ CPC">
                {{item['%Negc/ CPC']}}
              </td>
              <td data-field="%Negc/ CPCA" rel="%Negc/ CPCA">
                {{item['%Negc/ CPCA']}}
              </td>
              <td data-field="%Improd" rel="%Improd">
                {{item['%Improd']}}
              </td>
              <td data-field="%Linha muda" rel="%Linha muda">
                {{item['%Linha muda']}}
              </td>
              <td data-field="%Voz de máquina" rel="%Voz de máquina">
                {{item['%Voz de máquina']}}
              </td>
              <td data-field="Spin rate" rel="Spin rate">
                {{item['Spin rate']}}
              </td>
              <td data-field="%Incorreto" rel="%Incorreto">
                {{item['%Incorreto']}}
              </td>

            </tr>
            </tbody>

          </table>
        </div>


      </div> <!-- body -->
    </div> <!-- card -->
  </div> <!-- end first tables -->

  <!-- quadrate de evolução -->
  <div class="col-12">
    <div class="card m-b-0">
      <div class="header">
        <h2>
          <strong>{{ 'quadrante' | translate}}</strong> {{'de evolução' | translate}}</h2>
      </div>
      <div class="body">
        <div id="data-evolution" style="min-height: 300px;"></div>
      </div>
    </div>
  </div> <!-- col-12 -->

  <div class="col-sm-12">
    <div class="card m-b-0">

      <div class="header">
        <h2>
          <strong>{{'Resumo'| translate }}</strong>
          {{ 'por empresa' | translate }}
        </h2>
      </div>
      <div class="body">

        <div class="table-responsive">
          <table rel="table-resume-by-comparative"
                 class="table table-sm table-striped table-resume-by-comparative">

            <thead>
            <tr>

              <th data-field="Perfil" data-sortable="true">
                {{ 'Perfil' | translate }}
              </th>
              <th data-field="Segmento" data-sortable="true">
                {{ 'Segmento' | translate }}
              </th>
              <th data-field="Empresa" data-sortable="true">
                {{ 'Empresa' | translate }}
              </th>
              <th data-field="Faixa de atraso" data-sortable="true">
                {{ 'Faixa de atraso' | translate }}
              </th>
              <th data-field="Tentativas" data-sortable="true">
                {{ 'Tentativas' | translate }}
              </th>
              <th data-field="%Hit rate" data-sortable="true">
                {{ '%Hit rate' | translate }}
              </th>
              <th data-field="%CPC" data-sortable="true">
                {{ '%CPC' | translate }}
              </th>
              <th data-field="%CPCA" data-sortable="true">
                {{ '%CPCA' | translate }}
              </th>
              <th data-field="Negociações" data-sortable="true">
                {{ 'Negociações' | translate }}
              </th>
              <th data-field="%Negc" data-sortable="true">
                {{ '%Negc' | translate }}
              </th>

            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of resumeByCompany">

              <td data-field="Perfil" rel="Perfil">
                {{ item['Perfil'] }}
              </td>
              <td data-field="Segmento" rel="Segmento">
                {{ item['Segmento'] }}
              </td>
              <td data-field="Empresa" rel="Empresa">
                {{ item['Empresa'] }}
              </td>
              <td data-field="Faixa de atraso" rel="Faixa de atraso">
                {{ item['Faixa de atraso'] }}
              </td>
              <td data-field="Tentativas" rel="Tentativas">
                {{ item['Tentativas'] }}
              </td>
              <td data-field="%Hit rate" rel="%Hit rate">
                {{ item['%Hit rate'] }}
              </td>
              <td data-field="%CPC" rel="%CPC">
                {{ item['%CPC'] }}
              </td>
              <td data-field="%CPCA" rel="%CPCA">
                {{ item['%CPCA'] }}
              </td>
              <td data-field="Negociações" rel="Negociações">
                {{ item['Negociações'] }}
              </td>
              <td data-field="%Negc" rel="%Negc">
                {{ item['%Negc'] }}
              </td>

            </tr>
            </tbody>

          </table>
        </div>


      </div>
    </div>
  </div>

</div> <!-- row -->
