<div class="table-wrapper" [ngClass]="tableWrapperClasses">
  <div class="table-tab d-flex justify-content-between align-items-center mb-2" *ngIf="columns">

    <form action="">
      <div>
        <input class="form-control form-control-sm"
               type="text"
               name="search"
               (change)="search($event)"
               placeholder="{{ 'Procurar' | translate }}">
      </div>
    </form>

    <div class="columns columns-right float-right">

      <div class="dropdown" *ngIf="tableType === 'normal'">
        <button class="dropbtn btn btn-sm btn-sm btn-link btn-caret">
          <fa-icon [icon]="faThList"></fa-icon>
          <app-caret></app-caret>
        </button>
        <div class="dropdown-content">
          <a href="javascript:void(0)"
             (click)="markAllColumns()">
            Marcar todos
          </a>
          <hr class="my-1">
          <a *ngFor="let column of objectKeys(columns[0]); let i = index;"
             class="dropdown-item">
            <label class="d-flex align-items-center">
              <input type="checkbox"
                     [checked]="existClasse(column, 'd-none')"
                     (click)="toggleColumnClasse(column, 'd-none')">
              <span class="ml-1">{{ column }}</span>
            </label>
          </a>
        </div>
      </div>

      <div class="dropdown" *ngIf="tableType === 'transpose'">
        <button class="dropbtn btn btn-sm btn-sm btn-link btn-caret">
          <fa-icon [icon]="faThList"></fa-icon>
          <app-caret></app-caret>
        </button>
        <div class="dropdown-content">
          <a href="javascript:void(0)"
             (click)="markAllColumns()">
            Marcar todos
          </a>
          <hr>
          <a *ngFor="let column of tHeadColumnTranspose; let i = index;"
             (click)="toggleColumnClasse(column, 'd-none')"
             [ngClass]="{'d-none': i === 0}"
             class="dropdown-item">
            <label>
              <input type="checkbox"
                     [checked]="existClasse(column, 'd-none')">
              <span class="ml-1">
                {{ column }}
              </span>
            </label>
          </a>
        </div>
      </div>

      <button (click)="setTranspose(null)" class="btn btn-link btn-sm">
        <fa-icon [icon]="faRetweet"></fa-icon>
      </button>

      <button (click)="fullScreen()"
              class="btn btn-sm btn-link" type="button">
        <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
      </button>

      <div class="dropdown">
        <button class="dropbtn btn btn-sm btn-sm btn-link">
          <fa-icon [icon]="faEllipsisV"></fa-icon>
        </button>
        <div class="dropdown-content dropdown-menu-right">

          <a (click)="exportXlsx()" href="javascript:void(0)">
            <fa-icon [icon]="faFileExcel"></fa-icon>
            Microsoft Excel
          </a>

          <a (click)="exportJson()" href="javascript:void(0)">
            <fa-icon [icon]="faStream"></fa-icon>
            JSON
          </a>

          <a (click)="printTable()" href="javascript:void(0)">
            <fa-icon [icon]="faPrint"></fa-icon>
            Imprimir
          </a>

        </div>
      </div>

    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-sm table-striped table-normal"
           [id]="name"
           *ngIf="tableType === 'normal'"
           [ngClass]="classes">

      <thead *ngIf="columns">
      <tr>
        <th
          *ngFor="let tHead of tHeadColumn; let indexOfColumn = index"
          [ngClass]="getNgClassOfThNormal(tHead, indexOfColumn)"
          (click)="setOrderBy(tHead)">
          <div>
            <div class="d-block table-caret">
              <fa-icon *ngIf="caretInView(tHead) == 'down' || caretInView(tHead) == 'both'"  [icon]="faCaretUp"></fa-icon>
              <fa-icon *ngIf="caretInView(tHead) == 'up' || caretInView(tHead) == 'both'" [icon]="faCaretDown"></fa-icon>
            </div>
            <div class="d-block">{{ tHead | translate }}</div>
          </div>
        </th>

      </tr>
      </thead>
      <tbody *ngIf="columns">
      <tr
        *ngFor="let column of columns; let c = index">

        <td *ngFor="let td of objectValues(column); let i = index"
            [ngClass]="getColumnClasses(objectKeys(column)[i]).concat(callbackClassOfTd(td, c, i, 'tbody', 'normal'))"
            [ngStyle]="callbackStyleTd(td)"
            [attr.data-oddeven]="getRel(c)"
            [attr.data-value]="td"
        >
          {{ td | translate }}
        </td>

      </tr>
      </tbody>

    </table>

    <table class="table table-sm table-striped table-transpose"
           [id]="name"
            *ngIf="tableType === 'transpose'"
           [ngClass]="classes">

      <thead *ngIf="columnsTranpose">
      <tr
        [ngClass]="getClassOfTheadTranspose()">
        <th
          *ngFor="let tHead of tHeadColumnTranspose; let c = index"
          [ngClass]="getNgClassOfThTranspose(tHead, c, null, 'thead', 'transpose')"
          [attr.data-oddeven]="getRel(c)"
          [title]="tHead"
          (click)="setOrderBy(tHead)">
          <div>
            <div class="d-block table-caret">
              <fa-icon *ngIf="caretInView(tHead) == 'down' || caretInView(tHead) == 'both'"  [icon]="faCaretUp"></fa-icon>
              <fa-icon *ngIf="caretInView(tHead) == 'up' || caretInView(tHead) == 'both'" [icon]="faCaretDown"></fa-icon>
            </div>
            <div class="d-block">{{ tHead | translate }}</div>
          </div>
        </th>

      </tr>
      </thead>

      <tbody *ngIf="columns">
      <tr
        *ngFor="let column of columnsTranpose; let indexOfLine = index"
        [ngClass]="getRowTransposeClass(indexOfLine, objectValues(column))">

        <td *ngFor="let td of objectValues(column); let indexOfColumn = index"
            [ngClass]="getColumnClasses(tHeadColumnTranspose[indexOfColumn]).concat(callbackClassOfTd(td, indexOfLine, indexOfColumn, 'tbody', 'tranpose'))"
            [ngStyle]="callbackStyleTd(td)"
            [attr.data-oddeven]="getRel(indexOfLine)"
            [attr.data-value]="td"
        >
          {{ td | translate }}
        </td>

      </tr>
      </tbody>

    </table>

  </div>

  <nav class="d-flex justify-content-end mt-2">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="getDataPage(this.currentPage - 1)">
          <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
          <span class="sr-only">Next</span>
        </button>
      </li>
      <li class="page-item"
          [ngClass]="{active: currentPage == (i + 1)}"
          *ngFor="let page of this.pages; let i = index;">
        <button class="page-link" (click)="getDataPage(i+1)" type="button">
          {{ i + 1 }}
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="getDataPage(this.currentPage + 1)">
          <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
          <span class="sr-only">Next</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
