<div class="d-flex flex-row mt-2">
  <div class="d-block d-md-none">
    <button type="button"
            class="btn-menu ls-toggle-btn mr-2 btn btn-deep-deals btn-icon"
            (click)="openLeftNav()">
      <i class="material-icons">menu</i>
    </button>
  </div>

  <div>

    <h2>{{ title | translate }}</h2>

    <ul class="breadcrumb mt-1">

      <li class="breadcrumb-item">
        <a routerLink="/home" class="d-flex align-items-center">
          <i class="fa fa-home mr-1"></i> <span>Início</span>
        </a>
      </li>

      <li class="active breadcrumb-item" *ngFor="let item of breadcrumbs">
        {{ item | translate }}
      </li>

    </ul>

  </div>

</div>

