<div class="d-flex flex-row">
  <div class="d-block d-md-none">
    <button type="button"
            class="btn-menu ls-toggle-btn mr-2 btn btn-deep-deals btn-icon"
            (click)="openLeftNav()">
      <i class="material-icons">menu</i>
    </button>
  </div>

  <div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">
          <i class="material-icons md-18"></i> Início
        </a>
      </li>
      <li class="active breadcrumb-item">
        Dashboards
      </li>
    </ul>
  </div>

</div>

