.card {
  background: transparent;
  border: 0;
}

.close {
  position: inherit !important;
  top: 0;
  left: 0;
}

.search-footer {
  background-color: #313131;
}
.search-footer .col-search {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 225px;
}

#wrapper-index-menu {
  position: fixed;
  min-height: 100%;
}

.btn-deep-cpc {
  background-color: #17BABF !important;
  color: #fff !important;
}
.btn-deep-cpc:hover {
  background-color: #118B8F !important;
}

.h1 {
  font-size: 3em;
}

