<div id="search"
     class="open">

  <div class="d-flex justify-content-center position-relative">
    <div class="container search-header h-100 d-flex flex-column justify-content-between">


    <!-- close button -->
    <button id="close"
            (click)="closeSearch()"
            type="button"
            class="close btn btn-primary btn-icon btn-icon-mini btn-round d-flex justify-content-center align-items-center">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

    <div class="d-flex flex-column">

      <app-clock></app-clock>

      <app-carousel></app-carousel>

      <app-input-search></app-input-search>

    </div>

    <div class="fixed-bottom background-dark d-flex justify-content-center" style="height: 83px">

      <div class="search-footer">
        <owl-carousel-o [options]="footerCarousel">

        <ng-template carouselSlide>
          <div class="col-search">
            <div class="big_icon mi-money-off card widget_2">
              <div class="body">
                <h6 class="fw-400">
                  {{ 'inadimplência' | translate }}
                </h6>
                <h2 class="d-inline">2.88</h2> <i class="material-icons md-12 text-deep-increment">trending_down</i>
                <small>-10.84</small>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="col-search">
            <div class="big_icon mi-work-off card widget_2">
              <div class="body">
                <h6 class="fw-400">
                  {{ 'desemprego' | translate }}
                </h6>
                <h2 class="d-inline">
                  12,850
                </h2>
                <i class="material-icons md-12 text-deep-cpca">trending_up</i>
                <small>1.1</small></div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="col-search">
            <div class="big_icon mi-timeline card widget_2">
              <div class="body">
                <h6 class="fw-400">
                  ibovespa
                </h6>
                <h2 class="d-inline">12,850</h2> <i class="material-icons md-12 text-deep-cpca">trending_up</i>
                <small>1.1</small>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="col-search">
            <div class="big_icon mi-monetization-on card widget_2">
              <div class="body">
                <h6 class="fw-400">
                  {{ 'dólar' | translate }}
                </h6>
                <h2 class="d-inline">
                  12,850
                </h2>
                <i class="material-icons md-12 text-deep-cpca">trending_up</i>
                <small>1.1</small>
              </div>
            </div>
          </div>
        </ng-template>


      </owl-carousel-o>
      </div>

    </div>
  </div>
  </div>

</div>
