<div class="w-100 clearfix hidden-md-down m-t-45 mx-auto m-b-25 row">
  <div class="col-6 h1" style="font-size: 45px">{{ 'Olá' | translate }}, {{user.name}}!</div>
  <div class="col-6 ml-auto text-right">
    <div class="d-inline-block h4 m-0" style="line-height: 0.85;">
      <small>{{ day }} de {{ month }}</small>
      <br>
      <small>{{ dayOfWeek }}
        /
        {{ year }}</small></div>
    <div class="d-inline-block h1 m-0 ml-2" style="font-size: 45px;"> {{ hour }}</div>
  </div>
</div>
