<div class="card mb-2">

  <div class="header pt-0">

    <ul class="nav tab-btns " id="myTab" role="tablist">

      <li class="nav-item">
        <a class="btn btn-sm btn-orange active"
           data-toggle="tab"
           href="#tab-summary-improductive">
          Improdutivo
        </a>
      </li>

      <li class="nav-item">
        <a class="btn btn-sm btn-ocean"
           data-toggle="tab"
           href="#tab-summary-productive">
          CPC
        </a>
      </li>

    </ul>
  </div>

  <div class="body py-3">

    <div class="tab-content">

      <div role="tabpanel"
           id="tab-summary-improductive"
           class="tab-pane fade active in show tab-pane">
        <div id="summary-improductive"></div>
      </div>

      <div role="tabpanel"
           id="tab-summary-productive"
           class="tab-pane fade">
        <div style="height: 500px" id="summary-productive"></div>
      </div>

    </div>

  </div>
</div>




