<div class="row">
  <div class="col-12 col-xl-6">
    <div class="row">

      <div class="col-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>distruição por estado</strong> esforço x CPC
            </h2>
          </div>
          <div class="body">
            <div id="quality-by-state" style="height: 200px;"></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>perfil</strong> móvel x fixo
            </h2>
          </div>
          <div class="body">
            <div id="perfil-mobile-fixed" style="height: 200px;"></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6">
        <div class="card">
          <div class="header">
            <h2>
              <strong>MELHOR CPC</strong> FIXO X MÓVEL
            </h2>
          </div>
          <div class="body">
            <div id="best-cpc-fixed-mobile" style="height: 200px;"></div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-12 col-xl-6">
    <div class="card">
      <div class="header m-b-10">
        <ul class="tab-btns nav nav-pills">
          <li class="nav-item">
            <a href="#total-pill"
               class="btn btn-sm btn-blue active"
               data-toggle="pill">
              Total
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#hitrate-pill"
              data-toggle="pill"
              class="btn btn-sm btn-blue">
              %Hit Rate
            </a>
          </li>

        </ul>
      </div>


      <div class="body">
        <div class="tab-content">
          <div class="tab-pane show active" id="total-pill">
            <div id="total-triggers">

            </div>
          </div>
          <div class="tab-pane" id="hitrate-pill">
            Hit rate
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
